<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Permission Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top:20px;">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Add New Permission</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form id="form" accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                            <label>Permission Name </label>
			    		    <input required class="form-control" id="name" placeholder="Permission Name" name="name" type="text">
                            <label>Select Area </label>
                            <select class="form-control" name="area" id="select_area">
                                <option selected value="">----- Select Area -----</option>
                            </select>
                            <label>Select Actions to be allowed in the Area </label>
                            <select multiple class="form-control" name="actions" id="select_actions"></select>
                            <label>Select Roles on whom the selected Action/s will be allowed</label>
                            <select multiple class="form-control" name="roles" id="select_roles"></select>
			    		</div>

                        <center><h4><font color="red" id="error"></font></h4></center>
                        <center><h4><font color="green" id="message"></font></h4></center>
			    		<input class="btn btn-lg btn-success btn-block" type="button" onclick="add_permission()" value="Add Permission">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>

    <center><h3>Existing Permissions</h3></center>
<div class="well">
    <table id="table_permission" class="table">
      <thead>
        <tr>
          <th>Permission Name</th>
            <th>Area</th>
            <th>Actions</th>
            <th>Allowed Roles</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>
</body>
<script>
$(document).ready(function(){
//List Areas
    list_areas();
//List Permissions
    list_actions();
//List Permissions
    list_permissions();
//List Roles
    list_roles();
 });
    function add_permission(){
        var name = $('#name').val();
        var area = $('#select_area').val();
        var actions = "";
        $.each($('#select_actions').val(), function(i, action){
            actions += action + ",";
        });
        var roles = "";
        $.each($('#select_roles').val(), function(i, role){
            roles += role + ",";
        });
        $.ajax({
            url : 'http://127.0.0.1:5001/api/permission/',
            contentType: "application/json",
            dataType: "json",
            type : 'POST',
            async: false,
            data : JSON.stringify({
                'name' : name,
                'area' : area,
                'actions' : actions,
                'roles' : roles
            }),
            success : function(data) {
                if(data['error']){
                    //alert(data['error']);
                    $('#error').text(data['error']);
                    $('#message').text('');
                }
                else
                {
                    $('#error').text('');
                    $('#message').text(data['message']);
                    setTimeout(function(){
                         $('#message').text('');
                    }, 3000);
                    list_permissions();
                }
            },
            error : function(request,error) {
                console.log(request);
                $('#lbl_error').text("API call failed!");
            }
        });
    }

function list_areas(){
    $.ajax({
            url : 'http://127.0.0.1:5001/api/area/',
            contentType: "application/json",
            dataType: "json",
            type : 'GET',
            success : function(response){
                if(response['error'])
                {
                    $('#message').text("");
                    $('#error').text(response['error']);
                }
                else{
                    $('#error').text("");
                    $('#select_domain').empty();
                    $('#select_domain').append('<option value="" selected>----- Select Area -----</option>');
                    $.each(response, function(i, area) {
                        var option = '<option value="'+area['publicId']+'">'+area['name']+'</option>';
                        $('#select_area').append(option);
                    });
                }
            },
            error : function(request, error){
                console.log(request);
                $('#message').text("");
                $('#error').text("Failed to add retrieve Domain List! Please try again.");
            }
            });
}

function list_actions(){
    $.ajax({
            url : 'http://127.0.0.1:5001/api/action/',
            contentType: "application/json",
            dataType: "json",
            type : 'GET',
            success : function(response){
                if(response['error'])
                {
                    $('#message').text("");
                    $('#error').text(response['error']);
                }
                else{

                    $('#error').text("");
                    $('#select_domain').empty();
                    $('#select_domain').append('<option value="" selected>----- Select Domain -----</option>');
                    $.each(response, function(i, action) {
                        var option = '<option value="'+action.publicId+'">'+action.name+'</option>';
                        $('#select_actions').append(option);
                    });
                }
            },
            error : function(request, error){
                console.log(request);
                $('#message').text("");
                $('#error').text("Failed to add retrieve Domain List! Please try again.");
            }
            });
}

function list_permissions(){
    $('#table_permission td').parent().remove();
    $.ajax({
            url : 'http://127.0.0.1:5001/api/permission/',
            contentType: "application/json",
            dataType: "json",
            type : 'GET',
            success : function(response) {
            $('#table_permission td').parent().remove();
                if(response['error']){
                    //alert(response['error']);
                    $('#error').text(response['error']);
                    $('#message').text('');
                }
                else
                {
                    $.each(response, function(i, permission){
                        var row = '<tr><td>'+permission.name+'</td><td>'+permission.area.name+'</td><td>'
                        $.each(permission.actions, function(i, action){
                            row += '<button>'+action.name+'</button>'
                        });
                        row += '</td><td>'
                        $.each(permission.roles, function(i, role){
                            row += '<button>'+role.name+'</button>'
                        });
                        row += '</td></tr>'
                        $('#table_permission').append(row);
                    });
                }
            },
            error : function(request,error) {
                console.log(request);
                $('#lbl_error').text("API call failed!");
            }
 });
}

function list_roles(){
    $.ajax({
            url : 'http://127.0.0.1:5001/api/role/',
            contentType: "application/json",
            dataType: "json",
            type : 'GET',
            success : function(response) {
            $('#select_roles').empty();
                if(response['error']){
                    //alert(response['error']);
                    $('#error').text(response['error']);
                    $('#message').text('');
                }
                else
                {
                    $.each(response, function(i, role){
                        var row = '<option value="'+role.publicId+'">'+role.name+'</option>'
                        row += '</td></tr>';
                        $('#select_roles').append(row);
                    });
                }
            },
            error : function(request,error) {
                console.log(request);
                $('#lbl_error').text("API call failed!");
            }
 });
}
</script>
</html>