<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top:20px;">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Add New School</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                            <label>Enter School Name</label>
			    		    <input required class="form-control" id="name" placeholder="School Name" name="name" type="text">
			    		</div>
                        <div class="form-group">
			    		    <label>Select Domain</label>
                            <select class="form-control" name="domain" id="select_domain">
                                <option selected value="">----- Select Domain -----</option>
                            </select>
			    		</div>
                        <center><h4><font color="red" id="error"></font></h4></center>
                        <center><h4><font color="green" id="message"></font></h4></center>
			    		<input class="btn btn-lg btn-success btn-block" type="button" onclick="add_school()" value="Add School">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>

    <center><h3>Registered Schools</h3></center>
<div class="well">
    <table id="table_school" class="table">
      <thead>
        <tr>
          <th>School Name</th>
          <th>Domain</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>
</body>
<script>
$(document).ready(function(){
//List Domains
    list_domains();
//List Schools
    list_schools();
 });

    function add_school() {
        var name = $('#name').val();
        var domain = $('#select_domain').val();
        $.ajax({
            url : 'http://127.0.0.1:5001/api/school/',
            contentType: "application/json",
            dataType: "json",
            type : 'POST',
            async: false,
            data : JSON.stringify({
                'name' : name,
                'domain' : domain
            }),
            success : function(data) {
                if(data['error']){
                    //alert(data['error']);
                    $('#error').text(data['error']);
                    $('#message').text('');
                }
                else
                {
                    $('#error').text('');
                    $('#message').text(data['message']);
                    setTimeout(function(){
                         $('#message').text('');
                    }, 3000);
                    list_schools();
                }
            },
            error : function(request,error) {
                console.log(request);
                $('#lbl_error').text("API call failed!");
            }
        });
    }
function list_domains(){
    $.ajax({
            url : 'http://127.0.0.1:5001/api/domain/',
            contentType: "application/json",
            dataType: "json",
            type : 'GET',
            success : function(response){
                if(response['error'])
                {
                    $('#message').text("");
                    $('#error').text(response['error']);
                }
                else{

                    $('#error').text("");
                    $('#select_domain').empty();
                    $('#select_domain').append('<option value="" selected>----- Select Domain -----</option>');
                    $.each(response, function(i, domain) {
                        var option = '<option value="'+domain['publicId']+'">'+domain['name']+'</option>';
                        $('#select_domain').append(option);
                    });
                }
            },
            error : function(request, error){
                console.log(request);
                $('#message').text("");
                $('#error').text("Failed to add retrieve Domain List! Please try again.");
            }
            });
}

function list_schools(){
    $.ajax({

            url : 'http://127.0.0.1:5001/api/school/',
            contentType: "application/json",
            dataType: "json",
            type : 'GET',
            success : function(response) {
            $('#table_school td').parent().remove();
                if(response['error']){
                    //alert(response['error']);
                    $('#error').text(response['error']);
                    $('#message').text('');
                }
                else
                {
                    $.each(response, function(i, school){
                        var row = '<tr><td>'+school.name+'</td><td>'+school.domain+'</td></tr>'
                        $('#table_school').append(row);
                    });
                }
            },
            error : function(request,error) {
                console.log(request);
                $('#lbl_error').text("API call failed!");
            }
 });
}
</script>
</html>