<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form method="post" action="/testResult">
                        <div class="form-group">
                            <label>Permission Name </label>
			    		    <input required class="form-control" id="name" placeholder="Permission Name" name="name" type="text">
                            <label>Select Area </label>
                            <select multiple="multiple" class="form-control" name="area">
                                <option  value="A">A</option>
                                <option  value="B">B</option>
                                <option  value="C">C</option>
                            </select>
                            <input type="submit">
			    		</div>
    </form>
</body>
</html>